.card {
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.116);
  border-radius: 10px;
  border: none;
}

.section-wraper {
  padding: 50px 0;
  overflow: hidden;
}

.section-title {
  font-size: 27px;
  letter-spacing: -.2px;
  position: relative;
  font-weight: 300;
  margin-bottom: 40px;
  color: #93D6DC;
}

.section-title:after {
  content: '';
  position: absolute;
  left: 0;
  top: 120%;
  width: 90px;
  height: 1.4px;
  background-color: #F48472;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 21px;
  }
  .section-title:after {
    height: 1px;
    width: 80px;
  }
}

.border-light {
  border: 0.5px solid #e4e4e4 !important;
}

.img-70 {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.circle {
  border-radius: 50%;
}

.container--max {
  padding: 0 80px;
}

@media screen and (max-width: 992px) {
  .container--max {
    padding: 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .container--max {
    padding: 0 20px;
  }
}

.h-200 {
  height: 200px !important;
}

@media screen and (min-width: 768px) {
  .h-md-400 {
    height: 400px !important;
  }
}

.object-cover {
  object-fit: cover;
  object-position: center;
}

.h-150 {
  height: 150px;
}

.m-h-70 {
  max-height: 60px;
  object-fit: contain;
}

.bg-pink {
  background-color: #F1DBD8 !important;
}

.bg-blue {
  background-color: #C6D6E7 !important;
}

.inner-title {
  font-weight: 700;
  text-transform: lowercase;
  font-size: 45px;
}

@media screen and (max-width: 768px) {
  .inner-title {
    font-size: 30px;
  }
}

.inner-desc {
  font-weight: 300;
  font-size: 19px;
  color: #2A2A2A;
}

@media screen and (max-width: 768px) {
  .inner-desc {
    font-size: 15px;
  }
}

.text-sm {
  font-size: 13px;
}

.text-md {
  font-size: 17px;
}

.color-primary {
  color: #F48472 !important;
}

.color-white {
  color: #fff !important;
}

.color-secondary {
  color: #93D6DC !important;
}

.color-dark {
  color: #2A2A2A !important;
}

.bounce {
  -moz-animation: bounce 1.5s infinite;
  -webkit-animation: bounce 1.5s infinite;
  animation: bounce 1.5s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

a:visited, a:link, a:hover, a:active {
  text-decoration: none;
}

a {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: lighter;
}

ul li {
  display: block;
  padding: 2px 0;
}

button, a[role="button"] {
  cursor: pointer !important;
}

b {
  font-weight: bold;
}

button:focus {
  outline: none;
}

@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"), url("../fonts/MYRIADPRO-REGULAR.woff") format("woff");
}

.owl-carousel.nav-center .owl-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

@media screen and (max-width: 992px) {
  .owl-carousel.nav-center .owl-nav {
    top: 30%;
  }
}

.owl-carousel.nav-center .owl-nav button {
  align-items: center;
  position: absolute;
  color: #fff;
  font-size: 40px;
  background-color: #F48472;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: 90px;
  height: 70px;
  opacity: 0.8;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-carousel.nav-center .owl-nav button:hover {
  opacity: 1;
}

.owl-carousel.nav-center .owl-nav button:focus {
  outline: none;
}

@media screen and (max-width: 576px) {
  .owl-carousel.nav-center .owl-nav button {
    width: 40px;
    height: 40px;
  }
}

.owl-carousel.nav-center .owl-nav .owl-prev {
  left: -13%;
}

.owl-carousel.nav-center .owl-nav .owl-next {
  right: -13%;
}

@media screen and (max-width: 768px) {
  .owl-carousel.nav-center .owl-nav .owl-prev {
    left: -17%;
  }
  .owl-carousel.nav-center .owl-nav .owl-next {
    right: -17%;
  }
}

@media screen and (max-width: 1390px) and (min-width: 1246px) {
  .owl-carousel.nav-center .owl-nav .owl-prev {
    left: -10%;
  }
  .owl-carousel.nav-center .owl-nav .owl-next {
    right: -10%;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1000px) {
  .owl-carousel.nav-center .owl-nav .owl-prev {
    left: -8%;
  }
  .owl-carousel.nav-center .owl-nav .owl-next {
    right: -8%;
  }
}

@media screen and (max-width: 576px) {
  .owl-carousel.nav-center .owl-nav {
    height: auto;
  }
  .owl-carousel.nav-center .owl-nav .owl-prev {
    left: -4%;
  }
  .owl-carousel.nav-center .owl-nav .owl-next {
    right: -4%;
  }
}

@media screen and (max-width: 768px) {
  .owl-carousel.nav-md-center .owl-nav {
    position: absolute;
    width: 100%;
    top: 70%;
    transform: translateY(-50%);
    margin: 0;
  }
  .owl-carousel.nav-md-center .owl-nav button {
    position: absolute;
    bottom: 0;
  }
  .owl-carousel.nav-md-center .owl-nav button.owl-prev {
    left: 3%;
  }
  .owl-carousel.nav-md-center .owl-nav button.owl-next {
    right: 3%;
  }
  .owl-carousel.nav-md-center img {
    margin: auto auto;
    width: 50%;
  }
}

.owl-carousel .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.owl-carousel .owl-dots .owl-dot {
  width: 12px;
  height: 12px;
  border: 1px solid rgba(255, 255, 255, 0.699);
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.owl-carousel .owl-dots .owl-dot.active {
  background-color: #b57b30;
}

.owl-carousel .owl-dots .owl-dot:active, .owl-carousel .owl-dots .owl-dot:focus {
  outline: none;
}

.owl-carousel .owl-nav {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.owl-carousel .owl-nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 13px;
  background-color: #F48472;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .owl-carousel .owl-nav-btn {
    font-size: 10px;
    height: 27px;
    width: 27px;
  }
}

.owl-carousel .owl-nav-btn:hover {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  transform: scale(1.04);
  background-color: #f26f5a;
}

@media screen and (min-width: 992px) {
  .owl-center .owl-stage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
  }
}

.main-header {
  position: relative;
  margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
  .main-header {
    padding: 0;
  }
}

.main-header__content {
  padding: 40px 0;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .main-header__content {
    padding: 0;
    border-bottom: 1px solid rgba(8, 70, 16, 0.445);
  }
}

.main-header__content .container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .main-header__content .container {
    padding: 0;
    justify-content: center;
    flex-direction: column;
  }
}

.main-header__content__tools {
  position: relative;
  display: flex;
  margin-top: 30px;
}

@media screen and (max-width: 992px) {
  .main-header__content__tools {
    margin-top: 0;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #F48472;
  }
}

.main-header__content__tools__form {
  position: relative;
  width: 250px;
}

@media screen and (max-width: 992px) {
  .main-header__content__tools__form {
    margin-right: 10px;
    width: 50%;
  }
}

.main-header__content__tools__form input {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  border: 1px solid black;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-left: 20px;
  font-size: 13px;
  text-transform: uppercase;
  padding: 5px 10px;
  height: 32px;
}

@media screen and (max-width: 992px) {
  .main-header__content__tools__form input {
    border-color: #fff;
  }
}

.main-header__content__tools__form input:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.075);
  box-shadow: none;
}

.main-header__content__tools__form input::placeholder {
  color: rgba(0, 0, 0, 0.849);
}

@media screen and (max-width: 992px) {
  .main-header__content__tools__form input::placeholder {
    color: #fff;
  }
}

.main-header__content__tools__form:after {
  content: '\f002';
  position: absolute;
  right: 10px;
  top: 1px;
  font-family: FontAwesome;
  font-size: 17px;
  color: #202020;
}

@media screen and (max-width: 992px) {
  .main-header__content__tools__form:after {
    color: #fff;
  }
}

@media screen and (max-width: 992px) {
  .main-header__content__tools__lang {
    width: 30%;
  }
}

.main-header__content__tools__toggler {
  display: none;
  background-color: #b57a30;
}

@media screen and (max-width: 992px) {
  .main-header__content__tools__toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .main-header__content__tools__toggler button {
    color: #fff;
    font-size: 20px;
  }
}

.main-header__content__brand {
  height: 70px;
}

@media screen and (max-width: 992px) {
  .main-header__content__brand {
    height: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    order: 1;
    display: flex;
    justify-content: center;
  }
}

.main-header__content__brand img {
  height: 100%;
}

.nav-bege .main-header {
  padding: 0;
}

.nav-bege .main-header__content {
  background-image: url(../images/banners/bgwave.png);
  background-size: cover;
}

@media screen and (min-width: 992px) {
  .nav-bege .main-nav {
    background: #e9cd8f;
  }
}

.nav-bege .main-nav__list__item:not(:last-child) {
  border-right: 1px solid #fff;
}

@media screen and (max-width: 992px) {
  .nav-bege .main-nav__list__item:not(:last-child) {
    border-left: none;
  }
}

.main-nav {
  position: fixed;
  background-color: rgba(147, 214, 220, 0.9);
  width: 100%;
  z-index: 5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.main-nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 23px;
}

@media screen and (max-width: 992px) {
  .main-nav__content {
    height: 60px;
    padding: 0 15px;
  }
}

.main-nav__brand {
  margin-right: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .main-nav__brand {
    margin-right: 20px;
  }
}

.main-nav__brand:hover {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  transform: scale(1.04);
}

.main-nav__brand img {
  width: 120px;
}

@media screen and (max-width: 1200px) {
  .main-nav__brand img {
    width: 120px;
  }
}

@media screen and (max-width: 768px) {
  .main-nav__brand img {
    width: 95px;
  }
}

.main-nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.main-nav__item {
  position: relative;
  display: block;
  padding: 10px 11px;
  font-size: 16px;
  line-height: 17px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .main-nav__item {
    padding: 10px 9px;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    font-size: 14px;
  }
}

.main-nav__item > a {
  font-weight: 800;
  font-size: 23px;
  text-transform: lowercase;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .main-nav__item > a {
    font-size: 19px;
  }
}

.main-nav__item:active, .main-nav__item:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}

.main-nav__toggler {
  position: relative;
  display: none;
  font-size: 25px;
  color: #fff;
  width: 30px;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 992px) {
  .main-nav__toggler {
    display: block;
  }
}

.main-nav__toggler-close, .main-nav__toggler-open {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-nav__toggler[aria-expanded="true"] .main-nav__toggler-close {
  opacity: 1;
  pointer-events: all;
}

.main-nav__toggler[aria-expanded="false"] .main-nav__toggler-open {
  pointer-events: all;
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .main-nav .btn-media {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .main-nav__list {
    display: none;
  }
}

.form-control {
  width: 100%;
  background-color: #fff;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.181);
  padding: 15px 20px;
  border-radius: 0 0 0 4px !important;
  border-radius: 0;
  border: none;
  color: #93D6DC;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .form-control {
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.081);
  }
}

.form-control::placeholder {
  color: rgba(88, 88, 88, 0.76);
}

.form-control:focus, .form-control:active {
  outline: none;
  border: none;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.181);
}

textarea.form-control {
  height: auto;
}

.form-labeled {
  position: relative;
}

.form-labeled input {
  padding-top: 21px;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .form-labeled input {
    font-size: 14px;
    padding-top: 19px;
    padding-bottom: 7px;
  }
}

.form-labeled .input-name {
  position: absolute;
  top: 10px;
  left: 20px;
  color: #F48472;
  font-weight: 400;
  font-size: 11px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .form-labeled .input-name {
    font-size: 10px;
  }
}

.form-labeled input:focus ~ label, .form-labeled label.active {
  top: 5px;
  opacity: 1;
}

.form-group label.error {
  display: block;
  color: #f05045;
  opacity: .8;
  font-size: 13px;
  font-weight: 400;
  padding-top: 5px;
  padding-left: 4px;
}

button[data-toggle="collapse"] {
  width: 100%;
  text-transform: unset;
  text-align: left;
  font-weight: 700;
  background-color: transparent !important;
  border: none !important;
  color: #fff !important;
  padding: 0 40px 0 0 !important;
  text-decoration: none !important;
  white-space: normal;
}

button[data-toggle="collapse"]:after {
  content: '\f105';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 44%;
  transform: translateY(-50%);
  right: 21px;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  button[data-toggle="collapse"]:after {
    font-size: 13px;
  }
}

button[data-toggle="collapse"][aria-expanded="true"]:after {
  content: '\f107';
}

.list-icon {
  padding-left: 30px;
}

.list-icon li {
  position: relative;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .list-icon li {
    font-size: 14px;
  }
}

.list-icon li:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -19px;
  top: 50%;
  width: 14px;
  height: 14px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 8px;
  border-radius: 50%;
}

.list-icon.list-error li:after {
  content: '\f00d';
  background-color: #A51212;
}

.list-icon.list-success li:after {
  content: '\f00c';
  background-color: #1C8C77;
}

.contact-list {
  padding-left: 30px;
}

.contact-list li {
  display: flex;
  align-items: center;
}

.contact-list li span {
  display: inline-block;
  margin-right: 7px;
  font-size: 19px;
  color: #006654;
}

.mobile-nav {
  z-index: 9;
  position: fixed;
  display: none;
  top: 60px;
  left: -100vw;
  opacity: 0;
  background-color: #fff;
  box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.07);
  width: 90%;
  transition: 0.4s all;
  height: calc(100vh - 60px);
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .mobile-nav {
    display: block;
  }
}

.mobile-nav.active {
  left: 0;
  opacity: 1;
  transition: 0.4s all ease-in;
}

.mobile-nav__content {
  height: 100%;
  padding: 35px 30px 25px 26px;
  overflow-y: scroll;
}

.mobile-nav__title {
  text-transform: lowercase;
  font-size: 17px;
  font-weight: 800;
  color: #2A2A2A;
  margin-bottom: 10px;
}

.mobile-nav__item {
  font-weight: 400;
  text-transform: lowercase;
  font-size: 17px;
}

.mobile-nav__item a {
  color: #2A2A2A;
}

.mobile-nav__contact {
  color: #2A2A2A;
}

.mobile-nav__contact i {
  font-size: 20px;
}

.mobile-nav__contact .text-md {
  font-size: 15px;
  font-weight: 800;
}

.mobile-nav__contact .text-sm {
  font-size: 13px;
  font-weight: 400;
  color: #545454;
}

.card {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.card-header {
  background-color: #C6D6E7;
  padding: 8px 25px;
  padding-left: 16px;
  border-radius: 23px !important;
  border: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-header:hover {
  background-color: #a9c1db;
}

@media screen and (max-width: 768px) {
  .card-header {
    font-size: 15px;
  }
}

.card-body {
  margin-top: 8px;
  padding: 18px 14px 22px 21px;
  background-color: #F4F4F4;
  font-size: 15px;
  color: #2A2A2A;
  border-radius: 25px;
}

@media screen and (max-width: 768px) {
  .card-body {
    font-size: 13px;
  }
}

.scroll-top {
  position: absolute;
  right: 130px;
  bottom: 430px;
  width: 35px;
  height: 35px;
  background-image: url(../images/ico/scrolltop.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.scroll-top.show {
  opacity: 1;
}

.scroll-top:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.scroll-top:active, .scroll-top:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .scroll-top {
    position: fixed;
    right: 50px;
    bottom: 100px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1450px) {
  .scroll-top {
    right: 25px;
  }
}

.btn {
  padding: 11px 30px;
  border-radius: 34px;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: 11px;
  }
}

.btn.btn-sm {
  padding: 8px 12px;
  font-size: 11px;
}

@media screen and (max-width: 768px) {
  .btn.btn-md-xs {
    font-size: 10px;
    padding: 6px 9px;
  }
}

.btn-primary {
  background-color: #F48472;
  border: none;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #f3735f;
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
}

.btn-secondary {
  background-color: #93D6DC;
  border: none;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-secondary:hover {
  background-color: #84d0d7;
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
}

.btn-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #F48472;
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-media.facebook {
  background-color: #5873A8;
}

.btn-media.instagram {
  background-color: #D42480;
}

.btn-media.youtube {
  background-color: #EB3030;
}

.btn-media.whatsapp {
  width: 39px;
  height: 39px;
  font-size: 20px;
}

.btn-media:hover {
  color: #fff;
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  transform: scale(1.04);
}

.footer {
  padding: 30px 0;
  background-color: #FBF8F5;
  letter-spacing: 1px;
  color: #fffff5;
}

.footer .container {
  max-width: 1300px;
}

.footer__list {
  text-transform: lowercase;
  color: #2A2A2A;
}

.footer__list a {
  display: block;
  margin-bottom: 4px;
  color: #2A2A2A !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer__list a:hover {
  color: #F48472 !important;
}

.footer__list a.btn-media {
  display: flex;
  color: #fff !important;
}

.footer__list-item {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
}

.footer__list-title {
  font-weight: 800;
  margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .footer__list {
    text-align: center;
  }
}

.fluid-cards {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  height: 480px;
  margin: 60px 0;
}

@media screen and (max-width: 992px) {
  .fluid-cards {
    flex-direction: column;
    align-items: unset;
    height: unset;
  }
}

.fluid-cards__img {
  width: 45%;
  overflow: hidden;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .fluid-cards__img {
    align-self: flex-end;
    order: 2;
    margin-top: -50px;
    width: 90%;
    height: 340px;
  }
  .fluid-cards__img.is-right {
    align-self: flex-end;
  }
  .fluid-cards__img.is-left {
    align-self: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .fluid-cards__img {
    height: 250px;
  }
}

.fluid-cards__img.is-right {
  border-radius: 36px 0 0 36px;
}

.fluid-cards__img.is-left {
  border-radius: 0 36px 36px 0;
}

.fluid-cards__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fluid-cards__caption {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 55%;
  height: 83%;
  background-color: #FBF8F5;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .fluid-cards__caption {
    align-self: flex-start;
    order: 1;
    width: 100%;
    height: auto;
    padding: 50px 30px 100px 30px;
  }
}

@media screen and (min-width: 1800px) {
  .fluid-cards__caption.is-left {
    justify-content: flex-end;
    padding-right: 200px;
  }
  .fluid-cards__caption.is-right {
    justify-content: flex-start;
    padding-left: 200px;
  }
}

.fluid-cards__caption-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fluid-cards__caption .inner-title, .fluid-cards__caption .inner-desc {
  margin-bottom: 19px;
}

.fluid-cards__caption .inner-desc {
  max-width: 500px;
}

.contact-btn {
  position: fixed;
  bottom: 30px;
  right: 50px;
}

@media screen and (max-width: 768px) {
  .contact-btn {
    display: none;
  }
}

.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #00bce4;
  background-image: url(../images/backgrounds/bg-home.png);
  background-repeat: repeat;
  background-size: contain;
}

.home__title {
  padding: 0 20px;
  text-transform: lowercase;
  text-align: center;
  color: #fff;
  font-weight: 800;
  font-size: 55px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .home__title {
    font-size: 39px;
  }
}

.home__scrolldown {
  color: #fff;
  font-size: 32px;
}

.home__scrolldown:hover {
  color: #fff;
}

.home__caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  height: 55%;
}

.home__hands {
  position: absolute;
  height: 42%;
  transform: translateX(-50%);
  bottom: 0;
  left: 48%;
}

@media screen and (max-width: 768px) {
  .home__hands {
    height: 32%;
    left: 50%;
  }
}

@media screen and (max-width: 330px) {
  .home__hands {
    height: 28%;
  }
}

.como-funciona__polign {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 230px;
  height: 230px;
  margin: 60px 0 75px;
}

@media screen and (max-width: 1200px) {
  .como-funciona__polign {
    width: 190px;
    height: 190px;
  }
}

@media screen and (max-width: 992px) {
  .como-funciona__polign {
    margin: 50px 0 45px;
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 768px) {
  .como-funciona__polign {
    margin: 50px 0 45px;
    width: 150px;
    height: 150px;
  }
}

.como-funciona__polign:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #93D6DC;
  border-radius: 20px;
  transform: rotate(45deg);
  z-index: -1;
}

.como-funciona__polign .ico {
  height: 65px;
}

@media screen and (max-width: 992px) {
  .como-funciona__polign .ico {
    height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .como-funciona__polign .ico {
    height: 50px;
  }
}

@media screen and (min-width: 768px) {
  .como-funciona__polign.has-connector:before {
    content: '';
    z-index: -2;
    position: absolute;
    top: 50%;
    right: -80%;
    transform: translateY(-50%);
    height: 25px;
    width: 80%;
    background-color: #93D6DC;
  }
}

@media screen and (max-width: 992px) {
  .como-funciona .inner-desc {
    font-size: 14px;
    max-width: 310px;
  }
}

@media screen and (max-width: 768px) {
  .como-funciona .inner-desc {
    font-size: 15px;
  }
}

.depoimentos {
  display: flex;
}

.depoimentos__content {
  display: flex;
}

@media screen and (max-width: 992px) {
  .depoimentos__content {
    flex-direction: column;
  }
}

.depoimentos__caption {
  display: flex;
  background-color: #F4F4F4;
  width: 50%;
  color: #2A2A2A;
  justify-content: flex-start;
  padding: 50px 130px 80px 110px;
}

@media screen and (min-width: 1800px) {
  .depoimentos__caption {
    justify-content: flex-end;
    align-items: center;
    padding-right: 300px;
  }
}

@media screen and (max-width: 992px) {
  .depoimentos__caption {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .depoimentos__caption {
    padding: 50px 30px;
  }
}

.depoimentos__hero {
  width: 50%;
}

.depoimentos__hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 992px) {
  .depoimentos__hero {
    width: 100%;
  }
}

.depoimentos__title {
  position: relative;
  font-size: 51px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .depoimentos__title {
    font-size: 40px;
  }
}

.depoimentos__title:after {
  content: '\f10d';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: -23px;
  left: -70px;
}

@media screen and (max-width: 768px) {
  .depoimentos__title:after {
    display: none;
  }
}

.depoimentos__item {
  display: block;
}

.depoimentos__item-autor {
  font-weight: 800;
}

.depoimentos__carousel {
  width: 100%;
  max-width: 500px;
}

.depoimentos__carousel .item {
  display: flex;
  flex-direction: column;
}

.depoimentos__carousel .inner-desc {
  font-size: 16px;
}

@media screen and (max-width: 576px) {
  .depoimentos__carousel .inner-desc {
    font-size: 14px;
  }
}

.depoimentos__carousel-navigation .owl-next,
.depoimentos__carousel-navigation .owl-prev {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: none;
  margin-right: 5px;
  font-size: 20px;
  color: #F48472;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.depoimentos__carousel-navigation .owl-next i.fa,
.depoimentos__carousel-navigation .owl-prev i.fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.depoimentos__carousel-navigation .owl-next:hover,
.depoimentos__carousel-navigation .owl-prev:hover {
  background-color: #F48472;
  color: #fff;
}

body {
  position: relative;
  margin: 0;
  background-color: #fff;
  font-family: 'Nunito', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  color: #93D6DC;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}

main {
  max-width: 100vw;
  overflow: hidden;
}

/*# sourceMappingURL=maps/style.css.map */
