<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <ul class="footer__list">
                    <li class="footer__list-title">OR2U smile</li>
                    <li class="footer__list-item">
                        <a href="#">Aparelho invísivel</a>
                        <a href="#">Clareamento</a>
                        <a href="#">Faça o teste</a>
                        <a href="#">Agende uma avaliação</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="footer__list">
                    <li class="footer__list-title">Atendimento</li>
                    <li class="footer__list-item">
                        Segunda à sexta, das 08h às 21h
                        <br/>Sábado, das 08 as 20h
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="footer__list">
                    <li class="footer__list-title">Contatos</li>
                    <li class="footer__list-item mb-3">
                        <a href="tel:(00)1234-5678">(00) 1234-5678</a>
                        <a href="tel:(00)98765-4321">(00) 9 8765-4321</a>
                    </li>

                    <li class="footer__list-title">Social</li>
                    <li class="footer__list-item">
                        <a href="#" class="btn-media facebook">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#" class="btn-media instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" class="btn-media youtube">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="footer__list">
                    <li class="footer__list-title">Localização</li>
                    <li class="footer__list-item">
                        Rua Antônio Cândido Pereira, 21 - Sala 22 Jardim Faculdade - Sorocaba/SP
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>