<nav id="main-nav" class="main-nav">

    <div class="main-nav__content">
        <div class="main-nav__left">
            <a href="./index.html">
                <div class="main-nav__brand wow fadeIn">
                    <img src="../images/brands/or2u.png" alt="Logomarca OR2U"></div>
                </a>

                <ul id="main-nav-menu" class="main-nav__list wow fadeIn">
                    <li class="main-nav__item active">
                        <a href="../pages/index.html">Aparelho Invísivel</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="../pages/sobre.html">Clareamento</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="../pages/servicos.html">Agende sua avaliação</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="../pages/exames.html">Exames</a>
                    </li>
                </ul>
            </div>

            <div class="main-nav__right">
                <a href="#" role="button" class="btn btn-primary">
                    <i class="fa fa-check-circle mr-3" aria-hidden="true"></i>
                    Faça o teste
                </a>
                <a href="#" class="btn-media facebook">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="#" class="btn-media instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" class="btn-media youtube">
                    <i class="fab fa-youtube"></i>
                </a>
                <button id="nav-toggler" class="main-nav__toggler  btn-transparent">
                    <i class="fa fa-bars open"></i>
                    <i class="fa fa-times close"></i>
                </button>
            </div>

        </div>

    </nav>