.depoimentos {
    display: flex;

    &__content {
        display: flex;

        @media screen and (max-width: $bp-LG) {
            flex-direction: column;
        }
    }

    &__caption {
        background-color: $color-light;
        width: 50%;
        color: $color-dark;
        justify-content: flex-start;
        padding: 50px 130px 80px 110px;

        @media screen and (min-width: 1800px) {
            justify-content: flex-end;
            padding-right: 300px;
        }

        @media screen and (max-width: $bp-LG) {
            width: 100%;
        }

        @media screen and (max-width: $bp-MD) {
            padding: 50px 30px;
        }
    }

    &__hero {
        width: 50%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        @media screen and (max-width: $bp-LG) {
            width: 100%;
        }
    }

    &__title {
        position: relative;
        font-size: 51px;
        margin-bottom: 30px;

        @media screen and (max-width: $bp-MD) {
            font-size: 40px;
        }

        &:after {
            content: '\f10d';
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: absolute;
            top: -23px;
            left: -70px;

            @media screen and (max-width: $bp-MD) {
                display: none;
            }
        }
    }

    &__item {
        display: block;

        &-autor {
            font-weight: 800;
        }
    }

    &__carousel {
        width: 100%;
        max-width: 500px;

        .item {
            display: flex;
            flex-direction: column;
        }

        .inner-desc {
            font-size: 16px;

            @media screen and (max-width: $bp-SM) {
                font-size: 14px;
            }
        }

        &-navigation {

            .owl-next,
            .owl-prev {
                position: relative;
                display: inline-block;
                width: 32px;
                height: 32px;
                background-color: #fff;
                border: none;
                margin-right: 5px;
                font-size: 20px;
                color: $color-primary;
                @include transition();

                i.fa{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                &:hover{
                    background-color: $color-primary;
                    color: #fff;
                }
            }
        }
    }
}